/* @import "https://unpkg.com/open-props"; */
/* @import "open-props.min.css"; */


@layer base, components, utilities, themes, images;

@layer base {
  body {
    font-family: "VT323", monospace;
    background: linear-gradient(45deg, var(--pink-6), var(--indigo-7));
    color: white;
  }
}

@layer components {
  header, footer {
    background: linear-gradient(45deg, var(--orange-5), var(--yellow-5));
    text-align: center;
    padding: var(--size-4);
  }
  h1 {
    font-family: "Press Start 2P", system-ui;
  }
  .sidebar ul {
    list-style-type: none;
    padding-left: 0;
  }
  .sidebar li {
    background: rgba(0, 0, 0, 0.5);
    padding: var(--size-3);
    margin-bottom: var(--size-3);
  }
  .rad-button {
    background-color: var(--accent-color);
    color: var(--white);
    border: none;
    padding: var(--size-3) var(--size-4);
    border-radius: var(--radius-2);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-weight: var(--font-bold);
    font-size: var(--size-4);
    box-shadow: var(--shadow-2);
    outline: 2px solid transparent;
    outline-offset: 2px;
  }

  .rad-button:hover,
  .rad-button:focus {
    background-color: var(--accent-color-hover); 
    transform: translateY(-2px);
    outline: 2px solid var(--blue-3); 
  }

  .rad-button:active {
    transform: translateY(1px);
  }
}

@layer utilities {
  .text-large {
    font-size: var(--size-8);
  }
  .bold {
    font-weight: var(--font-bold);
  }
}

@layer themes {
  .theme-dark {
    --background-color: var(--gray-9);
    --text-color: var(--gray-3);
    --accent-color: var(--pink-6); 
    --accent-color-hover: var(--pink-5); 
    body {
      background-color: var(--background-color);
      color: var(--text-color);
    }
    a {
      color: var(--accent-color);
    }
  }
}

@layer images {
  .responsive-image {
    max-width: 100%;
    height: auto;
  }
}